body{
    background-image: url(Fenntarthato/ht3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
}


main{
    display: block;
    width: 100%;
    margin: auto;
    display: flex;
}
 
header{
    background-image: url(Fenntarthato/erdo.jpg);
    padding: 100px;
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 70%;
    border: 2px lightgreen solid;
}

nav ul{
    list-style: none;
    display: flex;
    flex-flow: row;
    
    
}
nav li{
    border: 2px black solid;
    margin: 10px;
    font-size: 25px;
    background-color: lightgrey;
    
}
nav{
    background-color:green;
    display: flex;
    justify-content: center;
    border: 2px lightgreen solid;

}
ul a{
    text-decoration: none;
}
.bubu{
    border: 2px black solid;
    padding: 1.5%;
    margin: 1.5%;
    text-align: center;
    border-radius: 10%;
}
section{
    text-align: center;
    background-color: green;
    display: block;
    box-shadow: 10px 10px 10px 10px ;
}
.bubu p{
    color: white;
}
.bubu li{
    color: white;
}
hr{
    border-color: black;
}
ul{
    list-style: none;
}
footer{
    background-image: url(Fenntarthato/ht7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    border: 2px lightgreen solid;
    text-align: center;
    padding: 10px;
}
form{
    background-color: green;
    border: 2px lightgreen solid;
    text-align: center;

}
button{
    font-size: 50px;
}