body{
    background-image: url(Fenntarthato/ht3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
}


main{
    display: block;
    width: 90%;
    margin: auto;
    
}
 
header{
    background-image: url(Fenntarthato/erdo.jpg);
    padding: 100px;
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 70%;
    
}

nav ul{
    list-style: none;
    display: flex;
    flex-flow: row;
    
    
}
nav li{
    border: 2px black solid;
    margin: 10px;
    font-size: 25px;
    background-color: lightgrey;
}
nav{
    background-color: gray;
    display: flex;
    justify-content: center;
}


